git.vscode/
.vs/

ArchitectureTestBlazor/ArchitectureTestBlazor.Application/obj
ArchitectureTestBlazor/ArchitectureTestBlazor.Application/bin
ArchitectureTestBlazor/ArchitectureTestBlazor.Domain/obj
ArchitectureTestBlazor/ArchitectureTestBlazor.Domain/bin
ArchitectureTestBlazor/ArchitectureTestBlazor.Infrastructure/obj
ArchitectureTestBlazor/ArchitectureTestBlazor.Infrastructure/bin
ArchitectureTestBlazor/ArchitectureTestBlazor.WebUI.Server/obj
ArchitectureTestBlazor/ArchitectureTestBlazor.WebUI.Server/bin

